body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* main backgroung (imp) */
.imp {
    width: 100%;
    min-height: 75vh;
    background-image: linear-gradient(rgb(255, 255, 255),rgba(198, 195, 221, 0.65)), url(Screenshot\ 2024-05-05\ 131329.png) ;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* padding: 10px 8%; */
}

/* hero img starts */
.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* height: 50%; */
    border: 2px solid black;
    background-image: url(https://images.pexels.com/photos/1443867/pexels-photo-1443867.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* opacity: 0.7; */

}

.hero img {
    height: 170px;
    width: 170px;
    border-radius: 700px;
    margin-top: 15px;
    /* filter: invert(100%); */
}

.hero h1 {
    color: rgb(106, 0, 0);
    font-size: 1.0rem;
    /* margin-bottom: 100px; */
}

/* navbar starts */
.navbar {
    height: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: azure;
}

.navbar ul {
    /* position: fixed; */
    display: flex;
}

.navbar ul li {
    list-style: none;
}

.navbar ul li a {
    text-decoration: none;
        padding: 4px 3px;
        margin-left: 6px;
        font-size: 0.6rem;
        font-weight: 800;
        color: rgb(0, 0, 0);
        /* background-color: aquamarine; */
        border-radius: 20px;
}

.lang a {
    font-family: "Noto Sans Kannada", sans-serif;
    text-decoration: none;
    padding: 5px 5px;
    margin-left: 20px;
    font-size: 0.6rem;
    color: white;
    font-weight: bolder;
    background-color: rgb(197, 62, 0);
    border-radius: 5px;
}

.lang a:hover {
    border: 2px solid black;
}

.navbar ul li a:hover {
    border: 2px solid black;
}

/* container or boxs starts */
.pH h1 {
    background-color: rgb(255, 255, 255);
    padding: 30px 0px;
    margin-top: 0px;
    text-align: center;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.items {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 125px;
    width: 115px;
    margin-left: 15px;
    margin-top: 30px;
    margin-bottom: 10px;
    border: 2px solid black;
}

.select {
    text-decoration: none;
    border: 2px solid black;
    padding: 2px 8px;
    border-radius: 10px;
    background-color: aquamarine;
}

.select:hover {
    background-color: gray;
}
